name: Maven CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Grant execute permission for Maven wrapper
        run: chmod +x CarRentals/mvnw

      - name: Build with Maven
        run: ./CarRentals/mvnw -B -f CarRentals/pom.xml clean install -DskipTests
