name: Maven CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Grant execute permission for Maven wrapper
        run: chmod +x CarRentals/mvnw

      - name: Build with Maven
        run: ./CarRentals/mvnw -B -f CarRentals/pom.xml clean install -DskipTests

      - name: Run Spring Boot
        run: ./CarRentals/mvnw -B -f CarRentals/mvnw.cmd spring-boot:run

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
              node-version: "18"

      - name: Install npm dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build with npm
        working-directory: ./frontend
        run: npm run build
